@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');




* {
  cursor: url('../images/cursor.png'), auto;

  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-image: url('../images/background.jpg');

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

input {
  border: 2px solid gray;
  border-radius: 4px;
  padding: 5px;
}

/* 
  Nav Bar 
*/
.header {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 140px;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);

  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  color: #fffffa;
}

.header input {
  width: 200px;
  height: 20px;
}

.header-logo {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 120px;

  justify-content: space-between;
  align-items: center;
}

.header-logo input {
    background-color: white;
    background-image: url('../images/search-icon.png');
    background-position: 0px -5px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.header-logo h1 {
  margin-top: 15px;
}

.header-logo input {
  margin-top: 45px;
}

.edit-btn {
  background-color: aliceblue;
}

/* .header-controls {
  width: 200px;
  height: 120px;
  text-align: start;

  margin-right: 740px;
  margin-top: 40px;
} 
.header-controls button {
  width: min-content;
}
*/

/* Content */

.container {
  display: flex;
  flex-direction: column;

  width: 1100px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  justify-content: center;
  padding: 2px;
}

img {
  --s: 250px;   /*  size */
  --b: 4px;     /* border */
  --g: 0px;    /*  gap */
  --c: #4ECDC4; /* the color */
  
  aspect-ratio: 1;
  outline-offset: calc(var(--s)/-2);
  /* cursor: pointer; */
  transition: 0.3s;
}

img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
  transition: all .2s ease;
}

.card {
  display: flex;
  flex-direction: column;
  width:100x;
  height: 100ppx;
  margin: 20px;
  text-align: center;
  background-color: transparent;
}

.card h3 {
  color: #fffffa
}

.card button {
  width: min-content;
}

.card-list {
  width: auto;
}

.card-image {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  height: 120px;

  position: relative;
  display: inline-block;
}

.card-image img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.card-image button {
  position: absolute;
  bottom: 0;
  right: 0px;
}


/* Info Button */
.card-image button:nth-child(2) {
  bottom: auto;
  right: 0px;
  width: 20px;

  border-radius: 15px;
}

/* Remove Button */
.card-image button:nth-child(3) {
  left: 45px;
}

/* Edit Button */
.card-image button:nth-child(3) {
  left: 45px;
}

.card-image button:hoover {
  border-radius: 15px;
  background-color: gray;
}

/* 
  Modal
*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-info {

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  align-items: start;
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;

  background-color: #5a5c4a;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 400px; /* Could be more or less, depending on screen size */
  height: auto;
}

.modal-content-info {
  display: flex;
  flex-direction: column;
  
  background-color: #5a5c4a;
  margin: 5% 0 10% 15%;
  border: 1px solid #888;

  width: 1200px;
  height: 600px;
}

.show-info-btn {
  height: 20px;
}



.edit-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #314335;
  width: 100%;
  height: 200px;
}

.edit-body img {
  margin: 25px;
}

.edit-body-input {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  height: 120px;
}

.edit-body-input input {
  margin: 2px;
}

.modal-content button {
  width: 100px;
}

.close {
  margin-left: auto;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  /* cursor: pointer; */
} 

.carousel-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
  display: block;
  border: 2px solid black;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
  display: none;
}
.item-1 {
  z-index: 2;
  opacity: 1;
  background: url('../images/background.jpg');
  background-size: cover;
}
.item-2 {
  background: url('../images/background.jpg');
  background-size: cover;
}
.item-3 {
  background: url('../images/background.jpg');
  background-size: cover;
}

*:target ~ .item-1{
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
} 