@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-image: url("../images/background.avif");
}

.container {
  background-color: #47A992;
}

.header {
  background-color: #7A3E3E;
  padding: 20px 30px;
  color: #EEEEEE;
}

.card {
  width: 100ppx;
  height: 100ppx;
  background-color: transparent;
  
  width: 175px;
  margin: 5px;


}
.card-block {
  width: 175px;
}

.card-header {
  display: flex;
  text-align: center;
}
.header-title {
  background-color: #7A3E3E;
  
}



main {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;  

  padding: 0 14.5vh ;
  background-image: url("../images/background.avif");
  background-repeat: no-repeat;
  background-size: cover;

}

.edit-button {
  width: 60px;
  height: 30px;
  
  background-color: transparent;
}

.remove-button {
  width: 40px;
  background-color: transparent;
}

.edit-button:hover {
  border-radius: 15px;
  background-color: gray;
}

.remove-button:hover {
  border-radius: 15px;
  background-color: gray;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: space-between;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.edit-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.champion-img {
  position: relative;
  width: 200px;
  height: 200px;
}

.champion-img img {
  
}